@using Sxxy_FrameworkArt.Models.SystemEntity
@model Sxxy_FrameworkArt.Web.ViewModels.System.SystemRoleViewModels.SystemRoleViewModel
@using (Bootstrap.ModalWindowDialog(Model.ViewModelId))
{
    using (Bootstrap.ModalWindowContent())
    {
        using (Bootstrap.BootStrapForm("SystemRole/Delete", "myForm", "Post"))
        {
            using (Bootstrap.ModalWindowHeader())
            {
                <div>删除角色</div>
            }
            using (Bootstrap.ModalWindowBody())
            {
                @Bootstrap.SimpleTableFor(x => x.EntityList) 
            }
            using (Bootstrap.ModalWindowFooter())
            {
                @Bootstrap.Button("确定删除吗", "submit")
            }
        }
    }
}
<script>
    SxxyJs.ModalFormSubmit();
    SxxyJs.FormErrorMessageCheck("@Model.ViewModelId");
</script>
