@{
    var obj = ViewData["bootStrapSimpleTable"] as BootStrapSimpleTable;
    if (obj == null)
    {
        return;
    }
    var str = obj.DataSourcesJson.Replace("\\", ""); 
    Guid id = Guid.NewGuid();

}
<div id="SimpleTable_@id"></div>
<script>
    SxxyJs.Create.SimpleTable("#SimpleTable_@id",{dataType:"json",data:"@str",title:""})
</script>
@*<div class="box">
            append("<div class=\"box-header\">");
            append("<h3 class=\"box-title\">Responsive Hover Table</h3>");
            append("<div class=\"box-tools\">");
            append("<div class=\"input-group input-group-sm\" style=\"width: 150px;\">");
            append("<input type=\"text\" name=\"table_search\" class=\"form-control pull-right\" placeholder=\"Search\">");
            append("<div class=\"input-group-btn\">");
            append("<button type=\"submit\" class=\"btn btn-default\"><i class=\"fa fa-search\"></i></button>");
            append("</div></div></div></div>");
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
        <tbody>
                    <tr>
                        @{
                            foreach (var item in (JObject)jArray[0])
                            {
                                <th>@item.Key</th>
                            }
                        }
                    </tr>

                    @{
                        foreach (var itemJarray in jArray)
                        {
                            <tr>
                                @foreach (var itemJobject in (JObject)itemJarray)
                                {
                                    <th>@itemJobject.Value</th>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>*@

