@{
    var obj = ViewData["bootStrapSimpleTable"] as BootStrapSimpleTable;
    if (obj == null)
    {
        return;
    }
    var str = obj.DataSourcesJson;
    Guid id = Guid.NewGuid();

}
<div id="SimpleTable_@id"></div>
<script>
    var json =
        "[{\"Id\":\"1\",\"Name\":\"John1\",\"CreateBy\":\"\",\"CreateTime\":\"\"},{\"Id\":\"1\",\"Name\":\"John1\",\"CreateBy\":\"\",\"CreateTime\":\"\"},{\"Id\":\"1\",\"Name\":\"John1\",\"CreateBy\":\"\",\"CreateTime\":\"\"},{\"Id\":\"1\",\"Name\":\"John1\",\"CreateBy\":\"\",\"CreateTime\":\"\"}]";
    SxxyJs.Create.SimpleTable("#SimpleTable_@id", { dataType: "obj", data: JSON.parse('[@Html.Raw(str)]'), title: "" });
</script>

