@using Sxxy_FrameworkArt.Models.SystemEntity
@using Sxxy_FrameworkArt.Web.ViewModels.System.SystemUserViewModels
@model Sxxy_FrameworkArt.Web.ViewModels.System.SystemUserViewModels.SystemUserViewModel
@using (Bootstrap.ModalWindowDialog(Model.ViewModelId, "modal-lg"))
{
    using (Bootstrap.ModalWindowContent())
    {
        using (Bootstrap.BootStrapForm("SystemUser/Create", "myForm", "Post"))
        {
            using (Bootstrap.ModalWindowHeader())
            {
                <div>删除用户</div>
            }
            using (Bootstrap.ModalWindowBody())
            {
                @Bootstrap.SimpleTableFor(x => x.Entity,"Id,Code,Email,Name,ss")
            }
            using (Bootstrap.ModalWindowFooter())
            {
                @Bootstrap.Button("确定删除吗", "submit")
            }
        }
    }
}
<script>
    SxxyJs.ModalFormSubmit();
    SxxyJs.FormErrorMessageCheck("@Model.ViewModelId");
</script>
