@model Sxxy_FrameworkArt.Web.ViewModels.System.SystemUserViewModels.SystemUserListViewModel
@*@using (Bootstrap.PageLayout_BeginRow())
{
    using (Bootstrap.PageLayout_BeginColumn())
    {
        using (Bootstrap.BeginForm())
        {
            using (Bootstrap.PageLayout_BeginBox(BootStarpBoxLayout.Body))
            {
                using (Bootstrap.PageLayout_BeginRow())
                {
                    using (Bootstrap.PageLayout_BeginColumn(3))
                    {
                        @Bootstrap.TextField(x => x.Searcher.Code)
                    }
                    using (Bootstrap.PageLayout_BeginColumn(3))
                    {
                        @Bootstrap.TextField(x => x.Searcher.Email)
                    }
                }
            }
            using (Bootstrap.PageLayout_BeginBox(BootStarpBoxLayout.Body))
            {
                @Bootstrap.SearcherPanel()
            }
        }
    }
    using (Bootstrap.PageLayout_BeginColumn())
    {
        @Bootstrap.TableFor(x => x)
    }
}*@




<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>jquery DataTables插件自定义分页ajax实现</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="http://cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="http://cdn.bootcss.com/datatables/1.10.11/css/jquery.dataTables.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="row-fluid">
    <h3>JQuery DataTables插件自定义分页Ajax实现</h3>
    <table id="example" class="display table-striped table-bordered table-hover table-condensed" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>性别</th>
        </tr>
        </thead>
    </table>
</div>
<script src="http://cdn.bootcss.com/datatables/1.10.11/js/jquery.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="http://cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    $(function () {
        //提示信息
        var lang = {
            "sProcessing": "处理中...",
            "sLengthMenu": "每页 _MENU_ 项",
            "sZeroRecords": "没有匹配结果",
            "sInfo": "当前显示第 _START_ 至 _END_ 项，共 _TOTAL_ 项。",
            "sInfoEmpty": "当前显示第 0 至 0 项，共 0 项",
            "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
            "sInfoPostFix": "",
            "sSearch": "搜索:",
            "sUrl": "",
            "sEmptyTable": "表中数据为空",
            "sLoadingRecords": "载入中...",
            "sInfoThousands": ",",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上页",
                "sNext": "下页",
                "sLast": "末页",
                "sJump": "跳转"
            },
            "oAria": {
                "sSortAscending": ": 以升序排列此列",
                "sSortDescending": ": 以降序排列此列"
            }
        };
 
        //初始化表格
        var table = $("#example").dataTable({
            language:lang, //提示信息
            autoWidth: false, //禁用自动调整列宽
            stripeClasses: ["odd", "even"], //为奇偶行加上样式，兼容不支持CSS伪类的场合
            processing: true, //隐藏加载提示,自行处理
            serverSide: true, //启用服务器端分页
            searching: false, //禁用原生搜索
            orderMulti: false, //启用多列排序
            order: [], //取消默认排序查询,否则复选框一列会出现小箭头
            renderer: "bootstrap", //渲染样式：Bootstrap和jquery-ui
            pagingType: "simple_numbers", //分页样式：simple,simple_numbers,full,full_numbers
            columnDefs: [{
                "targets": 'nosort', //列的样式名
                "orderable": false //包含上样式名‘nosort'的禁止排序
            }],
            ajax: function (data, callback, settings) {
                debugger;
                //封装请求参数
                var param = {};
                param.limit = data.length;//页面显示记录条数，在页面显示每页显示多少项的时候
                param.start = data.start;//开始的记录序号
                param.page = (data.start / data.length)+1;//当前页码
                //console.log(param);
                //ajax请求数据
                $.ajax({
                    url: "/WebApi/Home/GetTableData",
                    data: { "viewModelFullName": "Sxxy_FrameworkArt.Web.ViewModels.System.SystemUserViewModels.SystemUserListViewModel,Sxxy_FrameworkArt.Web" },
                    type: "POST",
                    dataType: "json",
                    success: function (result) {
                        alert(result);
                    }
                });
            },
            //列表表头字段
            columns: [
                { "data": "Code" },
                { "data": "Name" },
                { "data": "Email" }
            ]
        }).api();
        //此处需调用api()方法,否则返回的是JQuery对象而不是DataTables的API对象
    });
</script>
</body>
</html>